/* $Id: nice_menus_default.css,v 1.1.2.5 2007/10/29 16:35:34 add1sun Exp $ */
/*
  This is the default layout template for nice menus, and will provide
  a starting point for the look of your menus. To customize, it's
  recommended to create a custom CSS file using this file as a template,
  then configure the module to use your custom CSS file
  (this is done in the global settings tab of the theme administration.)

  To help understand the CSS, the HTML looks like this, where
    x is a number;
    TYPE is down/left/right;
    PATH is the menu path such as node/343;
    MID is the menu id such as 33):
  <ul id='nice-menu-x' class='nice-menu nice-menu-TYPE'>
    <li id='menu-MID' class='menu-path-PATH'><a href='#'>This is a menu item</a></li>
    <li class='menuparent menu-path-PATH'><a href='#'>A submenu</a>
      <ul...><li...>...</li>
      </ul>
    </li>
    ...
  </ul>

  If you have more than one nice-menu and want to target a particular one,
  use its id (e.g. ul#nice-menu-2).

  See README.txt and the handbook page (http://drupal.org/node/185543)
  for some CSS customization examples.
*/

/******************************
 Global CSS for ALL menu types
******************************/

ul.nice-menu,
ul.nice-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
width: 100%;
}

ul.nice-menu li {

  float: left;
  background: #ffffff url(hover.png) right center no-repeat; 
  /* Additional overrides to deal with Garland theme. */
  margin: 0;
  padding-left: 0;

}

ul.nice-menu li:hover
{
background: #ffffff url(hover.png) right center no-repeat;

}

/* Overrides for Garland header. */
#header-region ul.nice-menu li {
  margin: 0;
  /* Padding rules are needed to deal with Garland's header line-height. */
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  background: url(topbutton.jpg) right center no-repeat;
  
}

#header-region ul.nice-menu li:hover {
  margin: 0;
  /* Padding rules are needed to deal with Garland's header line-height. */
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  background: url(invbutton.jpg) right center no-repeat;
  
}
  
}

ul.nice-menu a {
  padding: 0.5em 5px 0.3em 10px;
}

ul.nice-menu ul,
/* Repeat for Garland header. */
#header-region ul.nice-menu ul {
  top: 1.8em;
  left: -1px;

  margin-right: 0;
}

/* Override for Garland header. */
#header-region ul.nice-menu ul {
  top: 1.7em;
}

ul.nice-menu ul li {
  width: 9.0em; height: 40px;
}

/******************************
 VERTICAL (left/right) menus
******************************/

/* This is the default width of all vertical menus. */
ul.nice-menu-right, ul.nice-menu-left,
ul.nice-menu-right li, ul.nice-menu-left li {
  width: 9.0em; height: 40px;
}

/* VERTICAL menus where submenus pop RIGHT (default). */
ul.nice-menu-right ul {
  width: 9.0em; height: 40px;
  left: 9.0em;
  top: 0px;
}

ul.nice-menu-right ul ul {
  width: 9.0em; height: 40px;
  left: 9.0em;
  top: 0px;
}

ul.nice-menu-right li.menuparent,
ul.nice-menu-right li li.menuparent {
  background: #ffffff url(arrow-right.png) right center no-repeat;
}

ul.nice-menu-right li.menuparent:hover,
ul.nice-menu-right li.over,
ul.nice-menu-right li li.menuparent:hover,
ul.nice-menu-right li li.over {
  background: #ffffff url(arrow-right.png) right center no-repeat;
}

/* VERTICAL menus where submenus pop LEFT. */
ul.nice-menu-left li ul {
  width: 9.0em; height: 40px;
  left: -12.65em;
/*  top: -1px;*/
}

ul.nice-menu-left li ul li ul {
  width: 9.0em; height: 40px;
  left: -12.65em;
/*  top: -1px;*/
}

ul.nice-menu-left li.menuparent,
ul.nice-menu-left li li.menuparent {
  background: #ffffff url(arrow-left.png) left center no-repeat;
}

ul.nice-menu-left li.menuparent:hover,
ul.nice-menu-left li.over,
ul.nice-menu-left li li.menuparent:hover,
ul.nice-menu-left li li.over {
  background: #ffffff url(arrow-left.png) left center no-repeat;
}

ul.nice-menu-left a, ul.nice-menu-left ul a {
  padding-left: 20px;
}

/******************************
 HORIZONTAL (down) menus
******************************/
@font-face {
  
font-family: "Tristan";
  src: url(http://www.green-renaissance.com/drupal-5.8/files/informa.ttf);
}

ul.nice-menu-down {

  font-family: Tristan;
  }

ul.nice-menu-down a {
position: relative;
top: 4px;

}
  
ul.nice-menu-down li {
    position: relative;
  left: -65px;
min-width: 140px;
  float: right;
  background: #ffffff url(topbutton.jpg) right center no-repeat;
  min-height: 30px;
}

ul.nice-menu-down li li {

}

ul.nice-menu-down ul {
  left: 0px;
}

ul.nice-menu-down ul li {
  clear: both;
  min-width: 140px;
       position: relative;
  left: 0px;
  top: 2px;
    background: url(pulldown.jpg) right center no-repeat;
}

ul.nice-menu-down  li ul li{
    background: url(pulldown.jpg) right center no-repeat;

}

ul.nice-menu-down li ul li a {
position: relative;
top: 5px;
}

ul.nice-menu-down li ul li ul,
/* Repeat for Garland header. */
#header-region ul.nice-menu-down li ul li ul {
  left: 9.0em;
  top: -1px;
/*       background: url(pulldown.jpg) right center no-repeat; */

}

ul.nice-menu-down .menuparent a {
  padding-right: 15px;
    position: relative;
  top: 4px;
}

ul.nice-menu-down li.menuparent,
/* Repeat for Garland header. */
#header-region ul.nice-menu-down li.menuparent {
  background: url(topflydown.jpg) right center no-repeat;
  height: 30px;


}

#header-region ul.nice-menu-down li.menuparent li{
  background: transparent url(pulldown.jpg) right center ;
  width: 140px;
  height: 40px;
  position: relative; 
  top: 2px;
  left: 1px;
}

#header-region ul.nice-menu-down li.menuparent li.menuparent li{
  background: transparent url(pulldown.jpg) right center ;
  height: 40px;
  width: 140px;
  position: relative; 
  top: 7px;
  left: 23px;
z-index: 99;
}
ul.nice-menu-down li.menuparent:hover,
ul.nice-menu-down li.over,
/* Repeat for Garland header. */
#header-region ul.nice-menu-down li.menuparent:hover,
#header-region ul.nice-menu-down li.over {
  background:  url(invflydown.jpg) right center no-repeat;
}

ul.nice-menu-down li li.menuparent,
/* Repeat for Garland header. */
#header-region ul.nice-menu-down li li.menuparent {
  background:  url(pulldown.jpg) right center ;
width: 140px;
}

ul.nice-menu-down li li.menuparent:hover,
ul.nice-menu-down li li.over,
/* Repeat for Garland header. */
#header-region ul.nice-menu-down li li.menuparent:hover,
#header-region ul.nice-menu-down li li.over {
  background: url(pulldown.jpg) right center ;
width: 140px;
}