/* $Id: style.css,v 1.1 2008/02/09 10:50:41 vadbarsdrupalorg Exp $ */

/**
 * FireflyStream.com, for Drupal 5.x
 *
 * design: Vadim Zanin, vad [dot] zan [at] FireflyStream [dot] com
 * theming: Vadim Barsukov, vad [dot] bars [at] FireflyStream [dot] com
 *
 * based on:
 * Stefan Nagtegaal, iStyledThis [dot] nl
 * Steven Wittens, acko [dot] net
 *
 * If you use a customized color scheme, you must regenerate it after
 * modifying this file.
 */

/**
 * Generic elements
 */
@font-face {
  font-family: "Tristan";
  src: url(http://www.green-renaissance.com/drupal-5.8/files/tristan.ttf);
}



 body {
  margin: 0;
  padding: 0;
  background: #FFFFFF;
  font: 14px/170% calibri,tahoma,sans-serif;
  font-weight: 700;
  color: #000000;
  align: center;
  background: #fff url('http://green-renaissance.com/drupal-5.8/files/body.png');
}

input {
  font: 12px/100% Verdana, sans-serif;
  color: #313131;
}

textarea, select {
  font: 12px/160% Verdana, sans-serif;
  color: #313131;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 10px 0;
  padding: 0;
  font-weight: normal;
  color: #005400;
  font-family: Cambria, Georgia, "Times New Roman", Times, serif;
}

h1 {
  font-size: 170%;
  font-family: calibri,tahoma,sans-serif;
}

.with-tabs, .node h2 a, h2 a{
  font: 17px/160% Cambria, Georgia, "Times New Roman", Times, serif;
  color: #44A100;
  text-decoration:none;
  font-weight: bold;
}

.node h2 a:hover {
  text-decoration: underline;
}

h3 {
  font-size: 140%;
}

h4 {
  font-size: 130%;
}

h5 {
  font-size: 120%;
}

h6 {
  font-size: 110%;
}

ul, quote, code, fieldset {
  margin: .5em 0;
}

blockquote {
  font-family:georgia,serif;
  font-size:13px;
  font-size-adjust:none;
  font-stretch:normal;
  font-style:normal;
  font-variant:normal;
  font-weight:normal;
  line-height:normal;
  margin-left:50px;
  padding-left: 10px;
  border-left: #44A100 2px solid;
}

p {
  margin: 0.6em 0 1.2em;
  padding: 0;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a {
  color: #408040;
font-weight: bolder;
font-effect: emboss;
font-weight: 500;
}

a:active, a.active {
  color: #44A100;
}

hr {
  margin: 0;
  padding: 0;
  border: none;
  height: 1px;
  background: #5294c1;
}

ul {
  margin: 0.5em 0 1em;
  padding: 0;
}

ol {
  margin: 0.75em 0 1.25em;
  padding: 0;
}

ol li, ul li {
  margin: 0.4em 0 0.4em .5em; /* LTR */
}

ul.menu, .item-list ul {
  margin: 0.35em 0 0 -0.5em; /* LTR */
  padding: 0;
}

ul.menu ul, .item-list ul ul {
  margin-left: 0em; /* LTR */
}

ol li, ul li, ul.menu li, .item-list ul li, li.leaf {
  margin: 0.15em 0 0.15em .5em; /* LTR */
}

ul li, ul.menu li, .item-list ul li, li.leaf {
  padding: 0 0 .2em 1em;
  list-style-type: none;
  list-style-image: none;
  background: transparent url(images/bullet.png) no-repeat 1px .5em; /* LTR */
}

ol li {
  padding: 0 0 .3em;
  margin-left: 2em; /* LTR */
}

ul li.expanded {
  background: transparent url(images/menu-expanded.gif) no-repeat 1px .35em; /* LTR */
}

ul li.collapsed {
  background: transparent url(images/menu-collapsed.gif) no-repeat 0px .35em; /* LTR */
}

ul li.leaf a, ul li.expanded a, ul li.collapsed a {
  display: block;
}

ul.inline li {
  background: none;
  margin: 0;
  padding: 0 1em 0 0; /* LTR */
}

ol.task-list {
  margin-left: 0; /* LTR */
  list-style-type: none;
  list-style-image: none;
}
ol.task-list li {
  padding: 0.5em 1em 0.5em 2em; /* LTR */
}
ol.task-list li.active {
  background: transparent url(images/task-list.png) no-repeat 3px 50%; /* LTR */
}
ol.task-list li.done {
  color: #393;
  background: transparent url(../../misc/watchdog-ok.png) no-repeat 0px 50%; /* LTR */
}
ol.task-list li.active {
  margin-right: 1em; /* LTR */
}

fieldset ul.clear-block li {
  margin: 0;
  padding: 0;
  background-image: none;
}

dl {
  margin: 0.5em 0 1em 1.5em; /* LTR */
}

dl dt {
}

dl dd {
  margin: 0 0 .5em 1.5em; /* LTR */
}

img, a img {
  border: none;
}

table {
  margin: 1em 0;
  width: 100%;
 
vertical-align: top;	
}

thead th {
  border-bottom: 2px solid #C3E24D;
  color: #313131;
  font-weight: bold;
}

thead div.sticky-header {
  border-bottom: 2px solid #C3E24D;
}

th a:link, th a:visited {
  color: #6f9dbd;
}

td, th {
  padding: .3em .5em;
  
}

tr.even, tr.odd, tbody th {
  border: solid #C3E24D;
  border-width: 1px 0;
}

tr.odd, tr.info {
  background-color: #F3FCD6;
}

tr.even {
  background-color: #fff;
}

tr.drag {
  background-color: #fffff0;
}

tr.drag-previous {
  background-color: #ffd;
}

tr.odd td.active {
  background-color: #E0F0A2;
}

tr.even td.active {
  background-color: #F3FCD6;
}

td.region, td.module, td.container {
  border-top: 1.5em solid #fff;
  border-bottom: 1px solid #b4d7f0;
  background-color: #C3E24D;
  color: #455067;
  font-weight: bold;
}

tr:first-child td.region, tr:first-child td.module, tr:first-child td.container {
  border-top-width: 0;
}

span.form-required {
  color: #ffae00;
}

span.submitted, span.submitted_author {
  display: block;
  color:#555555;
  font-family:calibri,tahoma,sans-serif;
  font-size:11px;
  line-height:100%;
}

span.submitted_author {
  margin-bottom: 0.5em;
  font-weight: bold;
  font-size:13px;
  font-family:calibri,tahoma,sans-serif;
}

.description {
  font-size: 0.92em;
  color: #898989;
}

.description {
  line-height: 150%;
  margin-bottom: 0.75em;
  color: #898989;
}

.messages, .preview {
  margin: .75em 0 .75em;
  padding: .5em 1em;
}

.messages ul {
  margin: 0;
}

.form-checkboxes, .form-radios, .form-checkboxes .form-item, .form-radios .form-item {
  margin: 0.25em 0;
}

#center form {
  margin-bottom: 2em;
}

.form-button, .form-submit {
  margin: 0em 0.5em 0em 0; /* LTR */
background:transparent url(images/block-header.png) repeat-x scroll 0pt 50%;
  color: #27282C;
  font-weight: bold;
  border: 1px;
  background-color: #C0E148;
  border-color: #A3B464;
  padding: 1px 5px 1px 5px;
}

#watchdog-form-overview .form-submit,
.confirmation .form-submit,
.search-form .form-submit,
.poll .form-submit,
fieldset .form-button, fieldset .form-submit,
.sidebar .form-button, .sidebar .form-submit,
table .form-button, table .form-submit {
  margin: 0;
}

.box {
  margin-bottom: 2.5em;
}

/**
 * Layout
 */
#header-region {

}

#header-region .block {
  display: block;
  margin: 0 1em;
}

#header-region .block-region {
  display: block;
  margin: 0 0.5em 1em;
  padding: 0.5em;
  position: relative;
  top: 0.5em;
}

#header-region * {
  display: inline;
  line-height: 1.5em;
  margin-top: 0;
  margin-bottom: 0;
}

/* Prevent the previous directive from showing the content of script elements in Mozilla browsers. */
#header-region script {
  display: none;
}

#header-region p, #header-region img {
  margin-top: 0.5em;
}

#header-region h2 {
  margin: 0 1em 0 0; /* LTR */
}

#header-region h3, #header-region label, #header-region li {
  margin: 0 1em;
  padding: 0;
  background: none;
}

#wrapper {
  
width: 1000px; 
    margin-left: auto;
    margin-right: auto;
position: relative;
top: -717px;
max-width: 1000px
}

#wrapper #container {
  margin: 0 auto;
  padding: 0px;
  max-width: 1000px;
   
}

#wrapper #container #header {

}
#header{
position: relative;
text-align: right;
min-height: 140px;
height: 140px; 
left: 50px;
}

#wrapper #container #header #logo-floater {
  position: absolute;
}

#wrapper #container #header h1, #wrapper #container #header h1 a:link, #wrapper #container #header h1 a:visited {
  line-height: 80px;
  position: relative;
  z-index: 2;
  white-space: nowrap;
}

#wrapper #container #header h1 span {
  font-weight: bold;
}

#wrapper #container #header h1 img {
  padding-top: 0px;
  padding-right: 10px; /* LTR */
  float: left; /* LTR */
}

/* With 3 columns, require a minimum width of 1000px to ensure there is enough horizontal space. */
body.sidebars {
  min-width: 980px;
}
/* With 2 columns, require a minimum width of 800px. */
body.sidebar-left, body.sidebar-right {
  min-width: 780px;
}

/* We must define 100% width to avoid the body being too narrow for near-empty pages */
#wrapper #container #center {
  float: left;
  width: 100%;

}
#center {
position: relative;
left: -20px;
}


/* So we move the #center container over the sidebars to compensate */
body.sidebar-left #center {
  margin-left: -210px;
}
body.sidebar-right #center {
  margin-right: -210px;
}
body.sidebars #center {
  margin: 0px -210px;
}

/* And add blanks left and right for the sidebars to fill */
body.sidebar-left #squeeze {
  margin-left: 210px;
}
body.sidebar-right #squeeze {
  margin-right: 210px;
}
body.sidebars #squeeze {
  margin: 0 210px;
}

/* We ensure the sidebars are still clickable using z-index */
#wrapper #container .sidebar {
  margin: 0px 0 5em;
  width: 180px;
  float: left;
  z-index: 2;
  position: relative;
}

#wrapper #container .sidebar .block {
  margin: 0 0 1.5em 0;
}

#sidebar-left {
  position: relative;
  top: 45px;
  left: -4px;
  color: #ffffff;
  padding: 0px 0 0 0;
  left -1px;
  font-family: Tristan;
}
#sidebar-left .block {
  position: relative;
  padding: 0;

background: transparent;

}

#sidebar-right .block {
  padding: 0;
  background-color:#F3FCD6;
}

#sidebar-right .block h2{
  background-color:#C6E354;
  background: #fff url(images/block-header.png) repeat-x 50% 0;
  font-size: 100%;
  line-height: 130%;
  padding: 5px 0px 10px 10px;
  font: bold 14px Cambria,Georgia,"Times New Roman",Times,serif;
  color: #000;
}

#sidebar-left .block h2{
  background-color: transparent;
  background: transparent repeat-x 50% 0;
  font-size:100%;
  line-height:130%;
  padding: 5px 0px 10px 10px;
  font: bold 14px Cambria,Georgia,"Times New Roman",Times,serif;
  color: #000;
  width: 200px;
}

.block .content {
  margin: 0.5em 5px 0 10px;
}

#sidebar-left .block-region {
  margin: 0 5px 0 0px; /* LTR */
}

#sidebar-right .block-region {
  margin: 0 0px 0 5px; /* LTR */
}

.block-region {
  padding: 1em;
  background: transparent;
  border: 2px dashed #C3E24D;
  text-align: center;
  font-size: 1.3em;
}

/* Now we add the backgrounds for the main content shading */
#wrapper #container #center #squeeze {
  position: relative;
}

#wrapper #container #center .right-corner {
  position: relative;
  left: 10px;
}

#wrapper #container #center .right-corner .left-corner {
  padding: 0px 25px 5em 35px;
  margin-left: -10px;
  position: relative;
  left: -10px;
  min-height: 400px;
}

#wrapper #container #footer{
  float: none;
  clear: both;
  text-align: center;
  margin: 4em 0 -3em;
  color: #898989;
  font-size: 10px;
}

#wrapper #container .breadcrumb {
  position: relative;
  top: 2px;
  left: 0px; /* LTR */
  z-index: 3;
}

body.sidebar-left  #footer {
  margin-left: -210px;
}

body.sidebar-right #footer {
  margin-right: -210px;
}

body.sidebars #footer {
  margin: 0 -210px;
}

/**
 * Header
 */
#wrapper #container #header h1, #wrapper #container #header h1 a:link, #wrapper #container #header h1 a:visited {
  color: #fff;
  font-weight: normal;
  text-shadow: #1659ac 0px 1px 3px;
  font-size: 1.5em;
}

#wrapper #container #header h1 a:hover {
  text-decoration: none;
}

#wrapper #container .breadcrumb {
  font-size: 0.92em;
}

#wrapper #container .breadcrumb, #wrapper #container .breadcrumb a {
  color: #44A100;
}

#mission {
  color: #44A100;
  padding: 1em;
  background-color: #fff;
  border: 1px solid #E0F0A3;
  margin-bottom: 2em;
}

/**
 * Primary navigation
 */
ul.primary-links {
  padding: 0;
  float: right; /* LTR */
  position: relative;
  z-index: 4;
    margin-left: auto;
    margin-right: auto;
	  font-family: Informatics;

  }

ul.primary-links li {
  margin: 0;
  padding: 0;
  float: right; /* LTR */
  background-image: none;
  padding-right: 10px;
}

ul.primary-links li a, ul.primary-links li a:link, ul.primary-links li a:visited {
  display: block;
  width: 160px;
  padding: 10px 0 10px 0;
  margin: 0;
  color: #004100;
  font: bold 20px/100% Cambria;
/*font: bold 13px/100% Cambria, Georgia,"Times New Roman",Times,serif;*/
  text-align: center;
  /*background: transparent url(images/bg-navigation-item.png) no-repeat 100% 0; */
}

ul.primary-links li a:hover{
  color: #004100;
  font: bold 20px/100% Cambria;
 /* background: transparent url(images/bg-navigation-item-hover.png) no-repeat 100% 0; */
}

ul.primary-links li a.active {
  color: #004100;
  font: bold 20px/100% Cambria;
 /*background: transparent url(images/bg-navigation-item-active.png) no-repeat 100% 0; */
}


/**
 * Secondary navigation
 */
ul.secondary-links {
  margin: 5px 0 0 0;
  padding: 0; /* LTR */
  float: right; /* LTR */
  clear: right; /* LTR */
  position: relative;
  z-index: 4;
}

ul.secondary-links li {
  margin: 0;
  padding: 0;
  float: left; /* LTR */
  background-image: none;
}

ul.secondary-links li a, ul.secondary-links li a:link, ul.secondary-links li a:visited {
  display: block;
  margin: 0 1em;
  padding: 0;
  background: transparent;
  color: #44A100;
  font: bold 10px/100% Tahoma;
}

ul.secondary-links li a:hover, ul.secondary-links li a.active {
  color: #44A100;
  background: transparent;
}

/**
 * Local tasks
 */
ul.primary, ul.primary li, ul.secondary, ul.secondary li {
  border: 0;
  background: none;
  margin: 0;
  padding: 0;
}

#tabs-wrapper {
  margin: 0 -26px 1em;
  padding: 0 26px;
  border-bottom: 1px solid #E0F0A3;
  position: relative;
}
ul.primary {
  padding: 0.5em 0 10px;
  float: left; /* LTR */
}
ul.secondary {
  clear: both;
  text-align: left; /* LTR */
  border-bottom: 1px solid #E0F0A3;
  margin: -0.2em -26px 1em;
  padding: 0 26px 0.6em;
}
h2.with-tabs {
  float: left; /* LTR */
  margin: 0 2em 0 0; /* LTR */
  padding: 0;
}

ul.primary li a, ul.primary li.active a, ul.primary li a:hover, ul.primary li a:visited,
ul.secondary li a, ul.secondary li.active a, ul.secondary li a:hover, ul.secondary li a:visited {
  border: 0;
  background: transparent;
  padding: 4px 1em;
  margin: 0 0 0 1px; /* LTR */
  height: auto;
  text-decoration: none;
  position: relative;
  top: -1px;
}
ul.primary li.active a, ul.primary li.active a:link, ul.primary li.active a:visited, ul.primary li a:hover,
ul.secondary li.active a, ul.secondary li.active a:link, ul.secondary li.active a:visited, ul.secondary li a:hover {
  background: url(images/block-header.png) repeat-x 0 50%;
  color: #fff;
  
}
ul.primary li.active a,
ul.secondary li.active a {
  font-weight: bold;
}

/**
 * Nodes & comments
 */
.node {

  background: transparent url(http://www.fireflystream.com/pix/1pix.gif) no-repeat;
  position: relative;
  left: -30px;
}

ul.links li, ul.inline li {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0; /* LTR */
  padding-right: 1px; /* LTR */
  background-image: none;
}

.node .links {
  text-align: left; /* LTR */
  padding: 5px 0px 5px 5px;
}

div.links {
  background-color: #F4FCD5;
  border-bottom: 1px solid #E3E8D6;
}

.comment .links {
  text-align: left; /* LTR */
}

.node .links ul.links li, .comment .links ul.links li {
  font-weight: bold;
  color: #0064b9;
  padding-right: 20px;
}

.terms ul.links li {
  margin-left: 0;
  margin-right: 0;
  padding-right: 0;
  padding-left: 0em;
}

.picture, .comment .submitted {
  float: left; /* LTR */
  padding-right: 1em; /* LTR */
}

.new {
  color: #ffae00;
  font-size: 0.92em;
  font-weight: bold;
  float: right; /* LTR */
}

.terms {
  float: none; /* LTR */
  font-family:calibri,tahoma,sans-serif;
  font-size:11px;
}

.preview .node, .preview .comment, .sticky {
  margin: 0;
  padding: 0.5em 0;
  border: 0;
  background: 0;
}

.sticky {
  padding: 1em;
  background-color: #fff;
  border: 1px solid #e0e5fb;
  margin-bottom: 2em;
}

#comments {
  position: relative;
  top: -1px;
  margin: -1.5em -25px 0;
  padding: 0 25px;
}

#comments h2.comments {
  margin: 0 -25px;
  padding: .5em 25px;
}

.comment {
  margin: 0 -25px;
  padding: 1.5em 25px 1.5em;
}

.indented {
  margin-left: 25px; /* LTR */
}

.comment h3 a.active {
  color: #313131;
}

.node .content{
  margin: 0.6em 0;
}

.comment .content {
  margin: 2em 0;
}

/**
 * Aggregator.module
 */
#aggregator {
  margin-top: 1em;
}
#aggregator .feed-item-title {
  font-size: 160%;
  line-height: 130%;
}
#aggregator .feed-item {
  border-bottom: 1px solid #E0F0A3;
  margin: -1.5em -31px 1.75em;
  padding: 1.5em 31px;
}
#aggregator .feed-item-categories {
  font-size: 0.92em;
}
#aggregator .feed-item-meta {
  font-size: 0.92em;
  color: #898989;
}

/**
 * Color.module
 */
#palette .form-item {
  border: 1px solid #fff;
}
#palette .item-selected {
  border: 1px solid #d9eaf5;
}

/**
 * Menu.module
 */
tr.menu-disabled {
  opacity: 0.5;
}
tr.odd td.menu-disabled {
  background-color: #edf5fa;
}
tr.even td.menu-disabled {
  background-color: #fff;
}

/**
 * Poll.module
 */
.poll .bar {
  background: #fff url(images/bg-bar-white.png) repeat-x 0 0;
  border: solid #f0f0f0;
  border-width: 0 1px 1px;
}

.poll .bar .foreground {
  background: #71a7cc url(images/bg-bar.png) repeat-x 0 100%;
}

.poll .percent {
  font-size: .9em;
}

/**
 * Autocomplete.
 */
#autocomplete li {
  cursor: default;
  padding: 2px;
  margin: 0;
}

/**
 * Collapsible fieldsets
 */
fieldset {
  margin: 1em 0;
  padding: 1em;
  border: 1px solid #E0F0A3;
}

/* Targets IE 7. Fixes background image in field sets. */
*:first-child+html fieldset {
  padding: 0 1em 1em;
  background-position: 0 .75em;
  background-color: transparent;
}

*:first-child+html fieldset > .description, *:first-child+html fieldset .fieldset-wrapper .description  {
  padding-top: 1em;
}

fieldset legend {
  /* Fix disappearing legend in FFox */
  display: block;
}

*:first-child+html fieldset legend, *:first-child+html fieldset.collapsed legend {
  display: inline;
}

html.js fieldset.collapsed {
  background: transparent;
  padding-top: 0;
  padding-bottom: .6em;
}

html.js fieldset.collapsible legend a {
  padding-left: 2em; /* LTR */
  background: url(images/menu-expanded.gif) no-repeat 0% 50%; /* LTR */
}

html.js fieldset.collapsed legend a {
  background: url(images/menu-collapsed.gif) no-repeat 0% 50%; /* LTR */
}

/**
 * Syndication icons and block
 */
#block-node-0 h2 {
  float: left; /* LTR */
  padding-right: 20px; /* LTR */
}

#block-node-0 img, .feed-icon {
  float: right; /* LTR */
  padding-top: 4px;
}

#block-node-0 .content {
  clear: right; /* LTR */
}

/**
 * Login Block
 */
#user-login-form {
  text-align: left;
}
#user-login-form ul {
  text-align: left; /* LTR */
}

/**
 * User profiles.
 */
.profile {
  margin-top: 1.5em;
}
.profile h3 {
  border-bottom: 0;
  margin-bottom: 1em;
}
.profile dl {
  margin: 0;
}
.profile dt {
  font-weight: normal;
  color: #898989;
  font-size: 0.92em;
  line-height: 1.3em;
  margin-top: 1.4em;
  margin-bottom: 0.45em;
}
.profile dd {
  margin-bottom: 1.6em;
}

/**
 * Admin Styles
 */
div.admin-panel,
div.admin-panel .description,
div.admin-panel .body,
div.admin,
div.admin .left,
div.admin .right,
div.admin .expert-link,
div.item-list,
.menu {
  margin: 0;
  padding: 0;
}

div.admin .left {
  float: left; /* LTR */
  width: 48%;
}

div.admin .right {
  float: right; /* LTR */
  width: 48%;
}

div.admin-panel {
  padding: 1em 1em 1.5em;
}

div.admin-panel .description {
  margin-bottom: 1.5em;
}

div.admin-panel dl {
  margin: 0;
}

div.admin-panel dd {
  color: #898989;
  font-size: 0.92em;
  line-height: 1.3em;
  margin-top: -.2em;
  margin-bottom: .65em;
}

table.system-status-report th {
  border-color: #d3e7f4;
}

#autocomplete li.selected, tr.selected td, tr.selected td.active {
  background: #027ac6;
  color: #fff;
}

tr.selected td a:link, tr.selected td a:visited, tr.selected td a:active {
  color: #d3e7f4;
}

/**
 * CSS support
 */

/*******************************************************************
 * Color Module: Don't touch                                       *
 *******************************************************************/

/**
 * Generic elements.
 */
.messages {
  background-color: #fff;
  border: 1px solid #b8d3e5;
}

.preview {
  background-color: #fcfce8;
  border: 1px solid #e5e58f;
}

div.status {
  color: #3a3;
  border-color: #c7f2c8;
}

div.error {
  color: #c52020;
}

.form-item input.error, .form-item textarea.error {
  border: 1px solid #c52020;
  color: #313131;
}

/**
 * Watchdog.module
 */
tr.watchdog-user {
  background-color: #fcf9e5;
}

tr.watchdog-user td.active {
  background-color: #fbf5cf;
}

tr.watchdog-content {
  background-color: #fefefe;
}

tr.watchdog-content td.active {
  background-color: #F3FCD6;
}

tr.watchdog-warning {
  background-color: #fdf5e6;
}

tr.watchdog-warning td.active {
  background-color: #fdf2de;
}

tr.watchdog-error {
  background-color: #fbe4e4;
}

tr.watchdog-error td.active {
  background-color: #fbdbdb;
}

tr.watchdog-page-not-found, tr.watchdog-access-denied {
  background: #d7ffd7;
}

tr.watchdog-page-not-found td.active, tr.watchdog-access-denied td.active {
  background: #c7eec7;
}

/**
 * Status report colors.
 */
table.system-status-report tr.error, table.system-status-report tr.error th {
  background-color: #fcc;
  border-color: #ebb;
  color: #200;
}

table.system-status-report tr.warning, table.system-status-report tr.warning th {
  background-color: #ffd;
  border-color: #eeb;
}

table.system-status-report tr.ok, table.system-status-report tr.ok th {
  background-color: #dfd;
  border-color: #beb;
}

/**
 * Other
 */
.breadcrumb {
  padding-bottom:1em;
}

.slogan{
  margin:-25px 0pt 0pt 0px;
  text-align: right;
  color: #CCD5B6;
  float:none;
  font: 11px calibri;
  height: 300px;
}

#footer-copyright {
  color:#898989;
  float:bottom;
  font-size:10px;
  padding:1em 20px 0em 20px;
  border-top:1px solid #E0F0A3;
  width: 200px;
  text-align:left;
  position: absolute;
  bottom: 0px;
}

#footer-region {
  float:none;
  background-color: #fff;
  border-top:1px solid #E0F0A3;
  font-size:10px;
  margin:0em 0pt 0em 0px;
  padding:1em 20px 2em 20px;
  text-align:left;
}

.feed-icon {
  margin: 0em 0px 0 0;
}

.searchblock {
position: absolute;
top: 250px;
left: 800px;
z-index: 10;} 

.searchblock_bottom {
  clear: both;
  float: right;
  margin: -35px 0px 0pt;
  
} 

.nosearchblock {
  float: right;
  margin: 30px 0px 0pt;
} 

#toplinks {
  clear: both;
  float: left;
margin-left: auto;
margin-right: auto;


}